.logo {
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
}

.sm {
  width: 2rem;
  height: 2rem;
}

.md {
  width: 2.5rem;
  height: 2.5rem;
}

.lg {
  width: 3.25rem;
  height: 3.25rem;
}
